<div *ngIf="stations.length !== 0 && lat && lng">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let m of stations; let i = index"
                [latitude]="m.latitude"
                [longitude]="m.longitude">
      <agm-info-window>
                <h3><strong>{{m.stationName}}</strong></h3>
              count: <input class="foo" type="text"  size="10" placeholder="Vehicle count" [(ngModel)]="m.vehicleCount" (keyup)="onKey(m.stationId, m.vehicleCount)">
              status: <input [readOnly]=true class="foo" size="15" [value]="[getStatus(m.vehicleCount)]">
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
