<base href="/">
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a class="navbar-brand" routerLink="/">Gas Guru
    <span class="sr-only">(current)</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li *ngIf='isLoggedIn() && authService.currentUserType === "admin"' class="nav-item">
          <a class="nav-link" routerLink="/about">Customers</a>
        </li>
        <li *ngIf='isLoggedIn() && authService.currentUserType === "admin"' class="nav-item">
          <a class="nav-link" routerLink="/careers">Feedbacks</a>
        </li>
        <li *ngIf='isLoggedIn() && authService.currentUserType === "customer"' class="nav-item">
          <a class="nav-link" routerLink="/careers">Add Feedback</a>
        </li>
      </ul>
    <ul class="navbar-nav">
      <li *ngIf='isLoggedIn()' ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" aria-haspopup="true">{{authService.currentUserEmail}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" (click)='navigateToPortal()'>My Portal</a>
          <a class="dropdown-item" (click)='logout()'>Logout</a>
        </div>
      </li>
      <div class="btn-toolbar">
          <button *ngIf='!isLoggedIn()' class='btn btn-outline-secondary button' (click)='register()'>Register</button>
          <button *ngIf='!isLoggedIn()' class='btn btn-outline-secondary button' routerLink='/login'>Login</button>
      </div>
    </ul>
  </div>
</nav>
