<body class="text-center bg-light">
<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">

  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

  <div *ngIf="invalidLogin" class="alert alert-danger">
    {{message}}
  </div>

  <label for="inputUsername" class="sr-only">Username</label>
  <input ngModel name='username' type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input ngModel name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
  </div>

  <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign in</button>

  <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>

</form>
</body>
