<app-carousel></app-carousel>
<br>
<div class="container marketing">

  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/CEO.png" alt="Generic placeholder image" width="140" height="140">
      <h2>CEO</h2>
      <p>Ken Levine is president and chief executive officer at Guru Solutions(Pvt) Ltd. Ken has over 20 years of startup and business leadership experience, primarily focused in technology, information security and social science.</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/vision.jfif" alt="Generic placeholder image" width="140" height="140">
      <h2>Vision</h2>
      <p>Problem-Solving the Sri Lankan society through technology.</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/aim.jfif" alt="Generic placeholder image" width="140" height="140">
      <h2>Our aim</h2>
      <p>In keeping with our vision of solving social problems for Sri Lankans island-wide, we intend to expand our geographical coverage across the country.</p>
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The nearest fuel station</h2>
      <p class="lead">System will supply the solutions according to the priority of the user for the next fuel station .In this priority situation the system gives the best solution with the best usability of the user’s usage.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/nearest.jfif" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Reducing wait times
      </h2>
      <p class="lead">If the queue strength of that fuel station is higher and too time consumes, the user will be able to know the next nearest fuel station with lower queue strength in that particular area.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/time.jfif" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Safe navigation
      </h2>
      <p class="lead">Users can drive on a correct, short and fastest way to nearest fuel station through our navigation system.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/navigation.jfif" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>

<footer class="container">
  <p>2020-2021 Guru Solutions</p>
</footer>
