<app-carousel></app-carousel>

<div class="container marketing">

  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/sample_image.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Admin Here</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptate at quas eos, sequi quo asperiores delectus tempora dolore error. Placeat aperiam a neque error ullam alias dolor sed distinctio.</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/sample_image.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Vision</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione mollitia ea dolores totam minima sequi? Dolore consequuntur impedit placeat officia perferendis harum et ab labore id consectetur libero, laboriosam dicta.</p>
    </div>

    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/sample_image.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Our aim</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad consequuntur libero quisquam sequi nam asperiores, a obcaecati ipsum distinctio nemo dolore placeat quasi autem? Facilis odio perspiciatis aspernatur dolore cumque!</p>
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">sample text</h2>
      <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique autem, placeat dolores culpa repudiandae maiores qui suscipit. Nulla non ullam architecto ipsum accusamus exercitationem aliquid fugiat ex, porro sequi reiciendis.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/sample_image.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">sample text
      </h2>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, beatae. Magni, voluptatibus expedita nostrum, aliquam impedit ad pariatur eligendi quia, possimus laboriosam quasi? Nemo explicabo beatae ducimus, voluptas ipsam fuga.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/sample_image.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Our History
      </h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores possimus eligendi fugit itaque ad ullam delectus quaerat saepe cumque, quis est repudiandae esse enim accusantium repellendus architecto. Consequuntur, distinctio quibusdam!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/sample_image.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>

<footer class="container">
  <p>2020-2021 Best Projects Company</p>
</footer>
